body, html, .container{
	height:100%;
	margin: 0 auto;
  	width: 100%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.row{
	margin-right: 0px;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -10000;
}


.nav, .nav-default, .navbar-fixed-top{
	background-color: black;
}


.navbar{
	padding-top: 1em;
	height: 6em;
}

#phone-num, .nav-words{
	font-weight: bold;
	font-size: 15pt;
}
.nav-words{
	display: block;
	padding-top:35px !important;
	padding-bottom: 33px !important;
	margin-top:-24px;
	margin-right: 20px;
}
.navbar-right{
	height: 100%;
}

#about-wrapper{
	height: 100%;
	padding-top: 100px;
}

#about-sub-wrapper{
	height: 100%;
	background-color: #00688B;
	color:white;
}

#main-wrapper{
	text-align: center;
	height:100%;
  	width: 100%;
}
#top-row-home{
	border-bottom: .5px solid gray;
	height: 75%;
}

#bottom-row-home{
	background-color: white;
	height: 5%;

}

.full{ height: 100%;}

#ed-info li{
	font-size: 15pt;
}

#about-header{
	border-bottom: 1px solid white;
}

#line-break{
	width: 85%;
	border-bottom: 2px solid rgb(34,34,34);
	margin-left: 7.5%;
	margin-top: 25px;
}

#signet-wrapper{
	background-color: white;
	height:20%;
}

#focus-wrapper, #contact-wrapper{
	background-color: white;
	height: 100%;
}

#focus-wrapper{
	padding: 100px 15px 0 15px;
}

#contact-wrapper{
	padding-top: 0px;
}
.site-footer{
	height: 250px;
}

img#signet{
	width:266.67px;
	height:200px;
	margin-top: -105px;
}

.center{
	text-align: center;
}

#headline, #subhead, #rep-text{
	font-family: "Cardo", serif;
}

#front-name{
	margin-top: 130px;
}

#headline{
	font-size: 52pt;
	color:white;
}

#subhead{
	font-size: 25pt;
	color:white;
}
#rep-text{
	font-size: 1.5em;
}

.info-box{
	border: 1px solid rgb(34,34,34);
	background-color: rgb(34,34,34);
	border-radius: 4px;
	color:white;
	margin-bottom: 15px;
	padding-left: 5px;
}

#fixed-home:focus{
	outline:0;
}

#sign{
	background-color: black !important;
	padding: 0;
	margin: 0;
	text-align: right;
	color:lightgray;
}

#contact-helpful{
	background-color: white;
}